<div class="container mt-5">
  <div>
    <h2>Ajouter un Parfum :</h2>
  </div>

  <form [formGroup]="parfumForm">
    @if (err) {
      <div class="alert alert-danger">
        <strong>{{ err }}</strong>
      </div>
    }

    <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
      <label>Id</label>
      <input
        type="number"
        formControlName="idParfum"
        class="form-control"
        placeholder="Entrez l'identifiant du parfum"
      />
      @if (parfumForm.controls['idParfum'].hasError('required') && parfumForm.controls['idParfum'].touched) {
        <small class="text-danger">⚠️ Ce champ est obligatoire</small>
      }
    </div>

   
    <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
      <label>Marque Parfum</label>
      <input
        type="text"
        formControlName="marqueParfum"
        class="form-control"
        placeholder="Entrez la marque du parfum"
      />
      @if (parfumForm.controls['marqueParfum'].hasError('required') && parfumForm.controls['marqueParfum'].touched) {
        <small class="text-danger">⚠️ Ce champ est obligatoire</small>
      }
      @if (parfumForm.controls['marqueParfum'].hasError('minlength') && parfumForm.controls['marqueParfum'].touched) {
        <small class="text-danger">⚠️ La marque doit contenir au moins 5 caractères</small>
      }
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
      <label>Nom Parfum</label>
      <input
        type="text"
        formControlName="nomParfum"
        class="form-control"
        placeholder="Entrez le nom du parfum"
      />
      @if (parfumForm.controls['nomParfum'].hasError('required') && parfumForm.controls['nomParfum'].touched) {
        <small class="text-danger">⚠️ Ce champ est obligatoire</small>
      }
      @if (parfumForm.controls['nomParfum'].hasError('minlength') && parfumForm.controls['nomParfum'].touched) {
        <small class="text-danger">⚠️ Le nom doit contenir au moins 5 caractères</small>
      }
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
      <label>Prix Parfum</label>
      <input
        type="number"
        formControlName="prixParfum"
        class="form-control"
        placeholder="Entrez le prix du parfum"
      />
      @if (parfumForm.controls['prixParfum'].hasError('required') && parfumForm.controls['prixParfum'].touched) {
        <small class="text-danger">⚠️ Ce champ est obligatoire</small>
      }
       @if (parfumForm.controls['prixParfum'].hasError('min') && parfumForm.controls['prixParfum'].touched) {
        <small class="text-danger">⚠️prix doit etre positif</small>
      }
    </div>

    
    <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
      <label>Contenance</label>
      <input
        type="text"
        formControlName="contenanceParfum"
        class="form-control"
        placeholder="Entrez la contenance du parfum"
      />
      @if (parfumForm.controls['contenanceParfum'].hasError('required') && parfumForm.controls['contenanceParfum'].touched) {
        <small class="text-danger">⚠️ Ce champ est obligatoire</small>
      }
    </div>

   
    <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
      <label>Email :</label>
      <input type="text" class="form-control" formControlName="email" />
      @if (parfumForm.controls['email'].hasError('required') && parfumForm.controls['email'].touched) {
        <small class="text-danger">⚠️ Email est obligatoire</small>
      }
      @if (parfumForm.controls['email'].hasError('email') && parfumForm.controls['email'].touched) {
        <small class="text-danger">⚠️ Email non valide</small>
      }
    </div>


     <div class="col-sm-4 col-md-4 col-lg-4 mb-3">
      <label>Genre</label>
      <select class="form-control" formControlName="idGen">
        <option value="">-- Sélectionnez un genre --</option>
        @for (gen of genres; track gen.idGen) {
          <option [value]="gen.idGen">{{ gen.nomGen }}</option>
        }
      </select> 
     @if (parfumForm.controls['idGen'].hasError('required') && parfumForm.controls['idGen'].touched) {
        <small class="text-danger">⚠️ Ce champ est obligatoire</small>
      } 
    </div> 

     @if (loading) {
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status"></div>
      </div>
    }
 
    <div class="mt-3">
      <button
        type="button"
        class="btn btn-success"
        (click)="addParfum()"
        [disabled]="parfumForm.invalid"
      >
        Ajouter
      </button>
      <div class="mt-2">
        <h3 class="text-success">{{ message }}</h3>
      </div>
    </div>
  </form>
</div>
